avro-python3==1.9.1
apache-beam==2.16.0
tfx==0.15.0

numpy==1.18.1
pandas==0.25.3
matplotlib==3.1.1
seaborn==0.10.0
scipy==1.1.0
scikit-learn==0.21.3

tensorflow==2.5.3
tensorboard==2.0.1
tensorflow-data-validation==0.15.0
tensorflow-datasets==2.0.0
tensorflow-estimator==2.0.1
tensorflow-metadata==0.15.2
tensorflow-model-analysis==0.15.2
tensorflow-serving-api==2.0.0
tensorflow-transform==0.15.0

jupyter==1.0.0
jupyterlab==1.2.5
